<!DOCTYPE html>
<html>
<head>
	<title>Paypal node app</title>
</head>
<body>
	<h1>Jhon Miller shirt </h1>
	<h2>Buy for 3500/-</h2>
	<form action="/pay" method="post">
		<input type="submit" name="" value="Buy">
	</form>
</body>
</html>